<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="realty.realty.mapper.RealtyMapper">
    <insert id="insertrealtyBuildingInfo">
        INSERT INTO buildint_info
        (
            bi_name, bi_total_floor, bi_tatal_parking, bi_elevator, bi_use_type,
            bi_use_accepted_dt, bi_address, bi_longitude, bi_latitube
        )
        VALUES
        (
            #{bi_name}, #{bi_total_floor}, #{bi_tatal_parking}, #{bi_elevator},
            #{bi_use_type}, #{bi_use_accepted_dt}, #{bi_address}, #{bi_longitude}, #{bi_latitube}
        );
    </insert>
    <select id="isExistBuildingInfo" resultType="java.lang.Boolean">
        select count(*) = 1 from buildint_info
        where replace(bi_address,' ', '') = #{address}
    </select>
    <select id="selectBuildingTotalPage" resultType="java.lang.Integer">
        select ceil(count(*)/10) from buildint_info 
        where bi_name like '%${keyword}%'
    </select>
    <select id="selectBuildingTotalCount" resultType="java.lang.Integer">
        select count(*) from buildint_info
        where bi_name like '%${keyword}%'
    </select>
    <select id="selectBuildingList" resultType="realty.realty.data.realty.RealtyBuildingInfoVO">
        select * from buildint_info where bi_name like '%${keyword}%'
        limit 10 offset ${(page - 1) * 10}
    </select>
    <update id="updateBulidingInfo">
        UPDATE buildint_info SET
        <if test="update_name"> bi_name=#{building_info.bi_name},</if>
        <if test="update_total_floor"> bi_total_floor=#{building_info.bi_total_floor},</if>
        <if test="update_total_parking"> bi_tatal_parking=#{building_info.bi_tatal_parking},</if>
        <if test="update_elevator"> bi_elevator=#{building_info.bi_elevator},</if>
        <if test="update_use_type"> bi_use_type=#{building_info.bi_use_type},</if>
        <if test="update_use_acepted_dt"> bi_use_accepted_dt=#{building_info.bi_use_accepted_dt},</if>
        <if test="update_address"> bi_address=#{building_info.bi_address},</if>
        <if test="update_longitude"> bi_longitude=#{building_info.bi_longitude},</if>
        <if test="update_latitube"> bi_latitube=#{building_info.bi_latitube},</if>
        bi_seq=#{building_info.bi_seq}
        WHERE
        bi_seq=#{building_info.bi_seq};
    </update>
    <select id="isExistBuildingBySeq" resultType="java.lang.Boolean">
        select count(*) = 1 from buildint_info where bi_seq=#{building_seq}
    </select>
    <delete id="deleteBuildingInfo">
        delete from buildint_info where bi_seq=#{building_seq}
    </delete>
    <insert id="insertRealtyOptionInfo" useGeneratedKeys="true"
        parameterType="realty.realty.data.realty.RealtyOptionInfoVO"
        keyProperty="ro_seq">
            INSERT INTO realty_option_info
            (
                ro_induction, ro_elec_range, ro_ariconditioner, ro_washing_machine, ro_television,
                ro_closet, ro_bed, ro_desk, ro_shoe_closet, ro_bidet, ro_stove, ro_refrigerator,
                ro_elec_doorlock
            )
            VALUES
            (
                #{ro_induction}, #{ro_elec_range}, #{ro_ariconditioner}, #{ro_washing_machine}, #{ro_television},
                #{ro_closet}, #{ro_bed}, #{ro_desk}, #{ro_shoe_closet}, #{ro_bidet}, #{ro_stove}, #{ro_refrigerator},
                #{ro_elec_doorlock}
            );
    </insert>
    <insert id="insertRealtyBasicInfo" useGeneratedKeys="true"
        parameterType="realty.realty.data.realty.RealtyBasicInfoVO"
        keyProperty="rbi_seq">
            INSERT INTO realty_basic_info
            (
                rbi_bi_seq, rbi_ro_seq, rbi_price, rbi_monthly_price, rbi_maintain_price, rbi_sale_type, rbi_parking_count,
                rbi_short_term_lease, rbi_room_type, rbi_floor, rbi_supply_area, rbi_use_area, rbi_room_count, rbi_buliding_number,
                rbi_room_number, rbi_room_direction, rbi_heating_type, rbi_kitchen_type, rbi_balcony_type, rbi_available_dt, rbi_reg_dt,
                rbi_status, rbi_kitchen_structure, rbi_maintain_list
            )
            VALUES
            (
                #{rbi_bi_seq}, #{rbi_ro_seq}, #{rbi_price}, #{rbi_monthly_price}, #{rbi_maintain_price}, #{rbi_sale_type}, #{rbi_parking_count},
                #{rbi_short_term_lease}, #{rbi_room_type}, #{rbi_floor}, #{rbi_supply_area}, #{rbi_use_area}, #{rbi_room_count}, #{rbi_buliding_number},
                #{rbi_room_number}, #{rbi_room_direction}, #{rbi_heating_type}, #{rbi_kitchen_type}, #{rbi_balcony_type}, #{rbi_available_dt}, #{rbi_reg_dt},
                #{rbi_status}, #{rbi_kitchen_structure}, #{rbi_maintain_list}
            );
    </insert>
    <insert id="insertRealtyPostInfo">
            INSERT INTO realty_post_info
                (rpi_title, rpi_content, rpi_rbi_seq, rpi_bork_seq)
            VALUES
                (#{rpi_title}, #{rpi_content}, #{rpi_rbi_seq}, #{rpi_bork_seq});
    </insert>
    <update id ="updateRealtyPostBasicInfo">
        UPDATE realty_basic_info SET
            <if test="rbi_bi_seq != null">rbi_bi_seq=#{rbi_bi_seq},</if>
            <if test="rbi_ro_seq != null">rbi_ro_seq=#{rbi_ro_seq},</if>
            <if test="rbi_price != null">rbi_price=#{rbi_price},</if>
            <if test="rbi_monthly_price != null">rbi_monthly_price=#{rbi_monthly_price},</if>
            <if test="rbi_maintain_price != null">rbi_maintain_price=#{rbi_maintain_price},</if>
            <if test="rbi_sale_type != null">rbi_sale_type=#{rbi_sale_type},</if>
            <if test="rbi_parking_count != null">rbi_parking_count=#{rbi_parking_count},</if>
            <if test="rbi_short_term_lease != null">rbi_short_term_lease=#{rbi_short_term_lease},</if>
            <if test="rbi_room_type != null">rbi_room_type=#{rbi_room_type},</if>
            <if test="rbi_floor != null">rbi_floor=#{rbi_floor},</if>
            <if test="rbi_supply_area != null">rbi_supply_area=#{rbi_supply_area},</if>
            <if test="rbi_use_area != null">rbi_use_area=#{rbi_use_area},</if>
            <if test="rbi_room_count != null">rbi_room_count=#{rbi_room_count},</if>
            <if test="rbi_buliding_number != null">rbi_buliding_number=#{rbi_buliding_number},</if>
            <if test="rbi_room_number != null">rbi_room_number=#{rbi_room_number},</if>
            <if test="rbi_room_direction != null">rbi_room_direction=#{rbi_room_direction},</if>
            <if test="rbi_heating_type != null">rbi_heating_type=#{rbi_heating_type},</if>
            <if test="rbi_kitchen_type != null">rbi_kitchen_type=#{rbi_kitchen_type},</if>
            <if test="rbi_balcony_type != null">rbi_balcony_type=#{rbi_balcony_type},</if>
            <if test="rbi_available_dt != null">rbi_available_dt=#{rbi_available_dt},</if>
            <if test="rbi_reg_dt != null">rbi_reg_dt=#{rbi_reg_dt},</if>
            <if test="rbi_status != null">rbi_status=#{rbi_status},</if>
            <if test="rbi_kitchen_structure != null">rbi_kitchen_structure=#{rbi_kitchen_structure},</if>
            <if test="rbi_maintain_list != null">rbi_maintain_list=#{rbi_maintain_list},</if>
            rbi_seq=#{rbi_seq}
        WHERE rbi_seq=#{rbi_seq};
    </update>
    <update id="updateRealtyPostOptioncInfo">
        UPDATE realty_option_info
        SET
            <if test="ro_induction != null">ro_induction=#{ro_induction},</if>
            <if test="ro_elec_range != null">ro_elec_range=#{ro_elec_range},</if>
            <if test="ro_ariconditioner != null">ro_ariconditioner=#{ro_ariconditioner},</if>
            <if test="ro_washing_machine != null">ro_washing_machine=#{ro_washing_machine},</if>
            <if test="ro_television != null">ro_television=#{ro_television},</if>
            <if test="ro_closet != null">ro_closet=#{ro_closet},</if>
            <if test="ro_bed != null">ro_bed=#{ro_bed},</if>
            <if test="ro_desk != null">ro_desk=#{ro_desk},</if>
            <if test="ro_shoe_closet != null">ro_shoe_closet=#{ro_shoe_closet},</if>
            <if test="ro_bidet != null">ro_bidet=#{ro_bidet},</if>
            <if test="ro_stove != null">ro_stove=#{ro_stove},</if>
            <if test="ro_refrigerator != null">ro_refrigerator=#{ro_refrigerator},</if>
            <if test="ro_elec_doorlock != null">ro_elec_doorlock=#{ro_elec_doorlock},</if>
            ro_seq=#{ro_seq}
        WHERE ro_seq=#{ro_seq};
    </update>
    <update id="updateRealtyPostInfo">
        UPDATE realty_post_info
        SET
            <if test="rpi_title != null">rpi_title=#{rpi_title},</if>
            <if test="rpi_content != null">rpi_content=#{rpi_content},</if>
            <if test="rpi_rbi_seq != null">rpi_rbi_seq=#{rpi_rbi_seq},</if>
            <if test="rpi_bork_seq != null">rpi_bork_seq=#{rpi_bork_seq},</if>
            rpi_seq=#{rpi_seq}
        WHERE rpi_seq=#{rpi_seq};
    </update>
    <select id="isExistBuildingItem" resultType="java.lang.Boolean">
        select count(*) = 1 from maintain_info where maintain_name=#{name};
    </select>
    <insert id="insertMaintainItem">
        INSERT INTO maintain_info (maintain_name) VALUES (#{maintain_name});
    </insert>
    <select id="selectMaintainItemCount" resultType="java.lang.Integer">
        select count(*) from maintain_info
    </select>
    <select id="selectMaintainItemList" resultType="realty.realty.data.realty.RealtyMaintainInfoVO">
        select * from maintain_info
    </select>
    <delete id="deleteMaintainItemList">
        DELETE FROM maintain_info WHERE maintain_name=#{name};
    </delete>
    <select id="selectPostInfoBySeq" resultType="realty.realty.data.realty.RealtyPostViewVO">
        select * from realty_detail_view where rpi_seq = ${seq}
    </select>
    <select id="selectPostList" resultType="realty.realty.data.realty.RealtyPostViewVO">
	select *,
		(
			6371 * acos(
				cos(radians(bi_latitube))
				* cos(radians(#{lat}))
				* cos(radians(bi_longitude) - radians(#{lon}))
				+ sin(radians(bi_latitube))
				* sin(radians(#{lat}))
				)
			)/1000
	as distance from realty_detail_view 
	having
		bi_address like '%${address}%'
        <if test = "rad == null">
        <![CDATA[and distance <= 3]]>
        </if>
        <if test = "rad != null">
        <![CDATA[and distance <= #{rad}]]> 
        </if>
        <if test="min_price != null or max_price != null">
            and rbi_price between 
                <if test="min_price == null">0</if>
                <if test="min_price != null">#{min_price}</if>
            and
                <if test="max_price == null">999999999</if>
                <if test="max_price != null">#{max_price}</if>
        </if>
        <if test="min_monthly_price != null or max_monthly_price != null">
            and rbi_monthly_price between
                <if test="min_monthly_price == null">0</if>
                <if test="min_monthly_price != null">#{min_monthly_price}</if>
            and
                <if test="max_monthly_price == null">999999999</if>
                <if test="max_monthly_price != null">#{max_monthly_price}</if>
        </if>
        <if test="min_maintion_price != null or max_maintion_price != null">
            and rbi_maintain_price between
                <if test="min_maintion_price == null">0</if>
                <if test="min_maintion_price != null">#{min_maintion_price}</if>
            and
                <if test="max_maintion_price == null">999999999</if>
                <if test="max_maintion_price != null">#{max_maintion_price}</if>
        </if>
        <if test="min_supply_area != null or max_supply_area != null">
            and rbi_supply_area between
                <if test="min_supply_area == null">0</if>
                <if test="min_supply_area != null">#{min_supply_area}</if>
            and
                <if test="max_supply_area == null">999999999</if>
                <if test="max_supply_area != null">#{max_supply_area}</if>
        </if>
        <if test="min_available_dt != null or max_available_dt != null">
		and rbi_available_dt between
                <if test="min_available_dt == null">'1970-01-01'</if>
                <if test="min_available_dt != null">#{min_available_dt}</if>
            and
                <if test="max_available_dt == null">now()</if>
                <if test="max_available_dt != null">#{max_available_dt}</if>
        </if>
		<if test="sale_type != null">and rbi_sale_type = #{sale_type}</if>
		<if test="parking_count != null">
        <![CDATA[and rbi_parking_count < #{parking_count}]]> 
        </if>
		<if test="shortter_lease != null">and rbi_short_term_lease = #{shortter_lease}</if>
		<if test="room_type != null">and rbi_room_type = #{room_type}</if>
		<if test="floor != null">and rbi_floor in 
            <foreach collection="floor" item="i" open="(" separator="," close=")">#{i}</foreach>
        </if>
		<if test="room_count != null">
        <![CDATA[and rbi_room_count >= #{room_count}]]> 
        </if>
		<if test="dirction != null">and rbi_room_direction in 
            <foreach collection="floor" item="i" open="(" separator="," close=")">#{i}</foreach>
        </if>
		<if test="kitchen_type != null">and rbi_kitchen_type = #{kitchen_type}</if>
		<if test="balcony_type != null">and rbi_balcony_type = #{balcony_type}</if>
		<if test="ktchen_structure != null">and rbi_kitchen_structure = #{ktchen_structure}</if>
		<if test="induction != null">and induction = #{induction}</if>
		<if test="elec_range != null">and elec_range = #{elec_range}</if>
		<if test="ariconditioner != null">and ariconditioner = #{ariconditioner}</if>
		<if test="washing_machine != null">and washing_machine = #{washing_machine}</if>
		<if test="television != null">and television = #{television}</if>
		<if test="closet != null">and closet = #{closet}</if>
		<if test="bed != null">and bed = #{bed}</if>
		<if test="desk != null">and desk = #{desk}</if>
		<if test="shoe_closet != null">and shoe_closet = #{shoe_closet}</if>
		<if test="bidet != null">and bidet = #{bidet}</if>
		<if test="stove != null">and stove = #{stove}</if>
		<if test="refrigerator != null">and refrigerator = #{refrigerator}</if>
		<if test="elec_doorlock != null">and elec_doorlock = #{elec_doorlock}</if>
		<if test="elevator != null">and elevator = #{elevator}</if>
        limit 10 offset ${(page-1)*10}
    </select>
    <select id="selectPostCnt" resultType="java.lang.Integer">
    select *,count(*),
        (
			6371 * acos(
				cos(radians(bi_latitube))
				* cos(radians(#{lat}))
				* cos(radians(bi_longitude) - radians(#{lon}))
				+ sin(radians(bi_latitube))
				* sin(radians(#{lat}))
				)
			)/1000
	as distance from realty_detail_view 
	having
		bi_address like '%${address}%'
        <if test = "rad == null">
        <![CDATA[and distance <= 3]]>
        </if>
        <if test = "rad != null">
        <![CDATA[and distance <= #{rad}]]> 
        </if>
        <if test="min_price != null or max_price != null">
            and rbi_price between 
                <if test="min_price == null">0</if>
                <if test="min_price != null">#{min_price}</if>
            and
                <if test="max_price == null">999999999</if>
                <if test="max_price != null">#{max_price}</if>
        </if>
        <if test="min_monthly_price != null or max_monthly_price != null">
            and rbi_monthly_price between
                <if test="min_monthly_price == null">0</if>
                <if test="min_monthly_price != null">#{min_monthly_price}</if>
            and
                <if test="max_monthly_price == null">999999999</if>
                <if test="max_monthly_price != null">#{max_monthly_price}</if>
        </if>
        <if test="min_maintion_price != null or max_maintion_price != null">
            and rbi_maintain_price between
                <if test="min_maintion_price == null">0</if>
                <if test="min_maintion_price != null">#{min_maintion_price}</if>
            and
                <if test="max_maintion_price == null">999999999</if>
                <if test="max_maintion_price != null">#{max_maintion_price}</if>
        </if>
        <if test="min_supply_area != null or max_supply_area != null">
            and rbi_supply_area between
                <if test="min_supply_area == null">0</if>
                <if test="min_supply_area != null">#{min_supply_area}</if>
            and
                <if test="max_supply_area == null">999999999</if>
                <if test="max_supply_area != null">#{max_supply_area}</if>
        </if>
        <if test="min_available_dt != null or max_available_dt != null">
		and rbi_available_dt between
                <if test="min_available_dt == null">'1970-01-01'</if>
                <if test="min_available_dt != null">#{min_available_dt}</if>
            and
                <if test="max_available_dt == null">now()</if>
                <if test="max_available_dt != null">#{max_available_dt}</if>
        </if>
		<if test="sale_type != null">and rbi_sale_type = #{sale_type}</if>
		<if test="parking_count != null">
        <![CDATA[and rbi_parking_count < #{parking_count}]]> 
        </if>
		<if test="shortter_lease != null">and rbi_short_term_lease = #{shortter_lease}</if>
		<if test="room_type != null">and rbi_room_type = #{room_type}</if>
		<if test="floor != null">and rbi_floor in 
            <foreach collection="floor" item="i" open="(" separator="," close=")">#{i}</foreach>
        </if>
		<if test="room_count != null">
        <![CDATA[and rbi_room_count >= #{room_count}]]> 
        </if>
		<if test="dirction != null">and rbi_room_direction in 
            <foreach collection="floor" item="i" open="(" separator="," close=")">#{i}</foreach>
        </if>
		<if test="kitchen_type != null">and rbi_kitchen_type = #{kitchen_type}</if>
		<if test="balcony_type != null">and rbi_balcony_type = #{balcony_type}</if>
		<if test="ktchen_structure != null">and rbi_kitchen_structure = #{ktchen_structure}</if>
		<if test="induction != null">and induction = #{induction}</if>
		<if test="elec_range != null">and elec_range = #{elec_range}</if>
		<if test="ariconditioner != null">and ariconditioner = #{ariconditioner}</if>
		<if test="washing_machine != null">and washing_machine = #{washing_machine}</if>
		<if test="television != null">and television = #{television}</if>
		<if test="closet != null">and closet = #{closet}</if>
		<if test="bed != null">and bed = #{bed}</if>
		<if test="desk != null">and desk = #{desk}</if>
		<if test="shoe_closet != null">and shoe_closet = #{shoe_closet}</if>
		<if test="bidet != null">and bidet = #{bidet}</if>
		<if test="stove != null">and stove = #{stove}</if>
		<if test="refrigerator != null">and refrigerator = #{refrigerator}</if>
		<if test="elec_doorlock != null">and elec_doorlock = #{elec_doorlock}</if>
		<if test="elevator != null">and elevator = #{elevator}</if>
    </select>
    <select id="selectPostPageCnt" resultType="java.lang.Integer">
    select *,ceil(count(*)/10),
        (
			6371 * acos(
				cos(radians(bi_latitube))
				* cos(radians(#{lat}))
				* cos(radians(bi_longitude) - radians(#{lon}))
				+ sin(radians(bi_latitube))
				* sin(radians(#{lat}))
				)
			)/1000
	as distance from realty_detail_view 
	having
		bi_address like '%${address}%'
        <if test = "rad == null">
        <![CDATA[and distance <= 3]]>
        </if>
        <if test = "rad != null">
        <![CDATA[and distance <= #{rad}]]> 
        </if>
        <if test="min_price != null or max_price != null">
            and rbi_price between 
                <if test="min_price == null">0</if>
                <if test="min_price != null">#{min_price}</if>
            and
                <if test="max_price == null">999999999</if>
                <if test="max_price != null">#{max_price}</if>
        </if>
        <if test="min_monthly_price != null or max_monthly_price != null">
            and rbi_monthly_price between
                <if test="min_monthly_price == null">0</if>
                <if test="min_monthly_price != null">#{min_monthly_price}</if>
            and
                <if test="max_monthly_price == null">999999999</if>
                <if test="max_monthly_price != null">#{max_monthly_price}</if>
        </if>
        <if test="min_maintion_price != null or max_maintion_price != null">
            and rbi_maintain_price between
                <if test="min_maintion_price == null">0</if>
                <if test="min_maintion_price != null">#{min_maintion_price}</if>
            and
                <if test="max_maintion_price == null">999999999</if>
                <if test="max_maintion_price != null">#{max_maintion_price}</if>
        </if>
        <if test="min_supply_area != null or max_supply_area != null">
            and rbi_supply_area between
                <if test="min_supply_area == null">0</if>
                <if test="min_supply_area != null">#{min_supply_area}</if>
            and
                <if test="max_supply_area == null">999999999</if>
                <if test="max_supply_area != null">#{max_supply_area}</if>
        </if>
        <if test="min_available_dt != null or max_available_dt != null">
		and rbi_available_dt between
                <if test="min_available_dt == null">'1970-01-01'</if>
                <if test="min_available_dt != null">#{min_available_dt}</if>
            and
                <if test="max_available_dt == null">now()</if>
                <if test="max_available_dt != null">#{max_available_dt}</if>
        </if>
		<if test="sale_type != null">and rbi_sale_type = #{sale_type}</if>
		<if test="parking_count != null">
        <![CDATA[and rbi_parking_count < #{parking_count}]]> 
        </if>
		<if test="shortter_lease != null">and rbi_short_term_lease = #{shortter_lease}</if>
		<if test="room_type != null">and rbi_room_type = #{room_type}</if>
		<if test="floor != null">and rbi_floor in 
            <foreach collection="floor" item="i" open="(" separator="," close=")">#{i}</foreach>
        </if>
		<if test="room_count != null">
        <![CDATA[and rbi_room_count >= #{room_count}]]> 
        </if>
		<if test="dirction != null">and rbi_room_direction in 
            <foreach collection="floor" item="i" open="(" separator="," close=")">#{i}</foreach>
        </if>
		<if test="kitchen_type != null">and rbi_kitchen_type = #{kitchen_type}</if>
		<if test="balcony_type != null">and rbi_balcony_type = #{balcony_type}</if>
		<if test="ktchen_structure != null">and rbi_kitchen_structure = #{ktchen_structure}</if>
		<if test="induction != null">and induction = #{induction}</if>
		<if test="elec_range != null">and elec_range = #{elec_range}</if>
		<if test="ariconditioner != null">and ariconditioner = #{ariconditioner}</if>
		<if test="washing_machine != null">and washing_machine = #{washing_machine}</if>
		<if test="television != null">and television = #{television}</if>
		<if test="closet != null">and closet = #{closet}</if>
		<if test="bed != null">and bed = #{bed}</if>
		<if test="desk != null">and desk = #{desk}</if>
		<if test="shoe_closet != null">and shoe_closet = #{shoe_closet}</if>
		<if test="bidet != null">and bidet = #{bidet}</if>
		<if test="stove != null">and stove = #{stove}</if>
		<if test="refrigerator != null">and refrigerator = #{refrigerator}</if>
		<if test="elec_doorlock != null">and elec_doorlock = #{elec_doorlock}</if>
		<if test="elevator != null">and elevator = #{elevator}</if>
    </select>
</mapper>