<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="realty.realty.mapper.RealtyMapper">
    <insert id="insertrealtyBuildingInfo">
        INSERT INTO buildint_info
        (
            bi_name, bi_total_floor, bi_tatal_parking, bi_elevator, bi_use_type,
            bi_use_accepted_dt, bi_address, bi_longitude, bi_latitube
        )
        VALUES
        (
            #{bi_name}, #{bi_total_floor}, #{bi_tatal_parking}, #{bi_elevator},
            #{bi_use_type}, #{bi_use_accepted_dt}, #{bi_address}, #{bi_longitude}, #{bi_latitube}
        );
    </insert>
    <select id="isExistBuildingInfo" resultType="java.lang.Boolean">
        select count(*) = 1 from buildint_info
        where replace(bi_address,' ', '') = #{address}
    </select>
    <select id="selectBuildingTotalPage" resultType="java.lang.Integer">
        select ceil(count(*)/10) from buildint_info 
        where bi_name like '%${keyword}%'
    </select>
    <select id="selectBuildingTotalCount" resultType="java.lang.Integer">
        select count(*) from buildint_info
        where bi_name like '%${keyword}%'
    </select>
    <select id="selectBuildingList" resultType="realty.realty.data.realty.RealtyBuildingInfoVO">
        select * from buildint_info where bi_name like '%${keyword}%'
        limit 10 offset ${(page - 1) * 10}
    </select>
    <insert id="insertRealtyOptionInfo" useGeneratedKeys="true"
        parameterType="realty.realty.data.realty.RealtyOptionInfoVO"
        keyProperty="ro_seq">
            INSERT INTO realty_option_info
            (
                ro_induction, ro_elec_range, ro_ariconditioner, ro_washing_machine, ro_television,
                ro_closet, ro_bed, ro_desk, ro_shoe_closet, ro_bidet, ro_stove, ro_refrigerator,
                ro_elec_doorlock
            )
            VALUES
            (
                #{ro_induction}, #{ro_elec_range}, #{ro_ariconditioner}, #{ro_washing_machine}, #{ro_television},
                #{ro_closet}, #{ro_bed}, #{ro_desk}, #{ro_shoe_closet}, #{ro_bidet}, #{ro_stove}, #{ro_refrigerator},
                #{ro_elec_doorlock}
            );
    </insert>
    <insert id="insertRealtyBasicInfo" useGeneratedKeys="true"
        parameterType="realty.realty.data.realty.RealtyBasicInfoVO"
        keyProperty="rbi_seq">
            INSERT INTO realty_basic_info
            (
                rbi_bi_seq, rbi_ro_seq, rbi_price, rbi_monthly_price, rbi_maintain_price, rbi_sale_type, rbi_parking_count,
                rbi_short_term_lease, rbi_room_type, rbi_floor, rbi_supply_area, rbi_use_area, rbi_room_count, rbi_buliding_number,
                rbi_room_number, rbi_room_direction, rbi_heating_type, rbi_kitchen_type, rbi_balcony_type, rbi_available_dt, rbi_reg_dt,
                rbi_status, rbi_kitchen_structure, rbi_maintain_list
            )
            VALUES
            (
                #{rbi_bi_seq}, #{rbi_ro_seq}, #{rbi_price}, #{rbi_monthly_price}, #{rbi_maintain_price}, #{rbi_sale_type}, #{rbi_parking_count},
                #{rbi_short_term_lease}, #{rbi_room_type}, #{rbi_floor}, #{rbi_supply_area}, #{rbi_use_area}, #{rbi_room_count}, #{rbi_buliding_number},
                #{rbi_room_number}, #{rbi_room_direction}, #{rbi_heating_type}, #{rbi_kitchen_type}, #{rbi_balcony_type}, #{rbi_available_dt}, #{rbi_reg_dt},
                #{rbi_status}, #{rbi_kitchen_structure}, #{rbi_maintain_list}
            );
    </insert>
    <insert id="insertRealtyPostInfo">
            INSERT INTO realty_post_info
                (rpi_title, rpi_content, rpi_rbi_seq, rpi_bork_seq)
            VALUES
                (#{rpi_title}, #{rpi_content}, #{rpi_rbi_seq}, #{rpi_bork_seq});
    </insert>
</mapper>